#ihatethis{

    font-size: 20px;
    font-palette: light;
    font-family: Dubai;
    color: blanchedalmond;


}
#ihatethistoo{

font-size: 20px;
    color: blanchedalmond;
    font-family: Dubai;
}

#head{
    font-size: 100px;
    font-family: Elephant;
    color: blanchedalmond;
    text-align: center;
}

body{
    background-color: darkseagreen;
}

.btn{
    background-color: transparent;
    color: blanchedalmond;
    border-color: blanchedalmond;
}
section{
    border-style: outset;
    float:left;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 145px;
    padding-right: 145px;
    border-radius: 25px;

}